* {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
}

.titlecard {
    padding: 15px 0 15px 0;
    background-image: linear-gradient(to right, red, yellow) ;
}

.daycard {
    background-color: rgb(40, 53, 70);
}

.weather-icon, #current-weather-icon {
    width:fit-content;
}

.uv-low {
    color: green;
}

.uv-moderate {
    color: yellow;
}

.uv-high {
    color: orange;
}

.uv-very-high {
    color: red;
}

.uv-extreme {
    color: purple;
}