* {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
}

.titlecard {
    padding: 15px 0 15px 0;
    background-image: linear-gradient(to right, red, yellow) ;
}

.saved-city {
    margin-top: 15px;
    height: 40px;
    width: 100%;
}

.daycard {
    background-color: rgb(40, 53, 70);
}

.weather-icon, #current-weather-icon {
    width:fit-content;
}

.uv-low {
    color: green;
}

.uv-moderate {
    color: yellow;
}

.uv-high {
    color: orange;
}

.uv-very-high {
    color: red;
}

.uv-extreme {
    color: purple;
}

@media screen and (max-width: 1200px) {
    body {
        overflow: visible;
    }

    .col-xl-3 {
        height: auto;
        padding-right: 0;
    }

    #weather-container {
        margin-left: 15px;
    }

    #current-chosen-city {
        margin-top: 20px;
        height: 200px !important;
    }

    #day-1, #day-2, #day-3, #day-4, #day-5 {
        margin-bottom: 20px;
        height: 200px !important;
    }
}
